
<mat-toolbar >All Employees</mat-toolbar>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel [expanded]="true" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.name }}
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-raised-button [routerLink]="['/details', post._id]">View Employee Details</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No Employee Details available!</p> 