<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        ngModel
        required
        minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter Employees name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="dob"
        ngModel
        required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter Employees DOB.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="address"
        ngModel
        required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter Employees address.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
